.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.float-button {
  margin-left: 10px;
  margin-right: 10px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fixed-top {
  position: fixed;
  top: 0px;
}

.first-column {
  width: 8%;
}

.second-column {
  width: 27%;
}

.third-column {
  width: 23%;
}

.fourth-column {
  width: 7%;
}

.fifth-column {
  width: 7%;
}

.title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.red {
  color: red;
}

.orange {
  color: orange;
}